html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    --main-text-color: #454545;
    --main-border-color: #454545;
    --main-background-color: cornsilk;

    --header-background-color: rgb(108, 159, 255);
    --contrast-text-color: white;
}

body {
    font-family: Avenir;
    overflow: visible;
    background: var(--main-background-color);
    color: var(--main-text-color);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--header-background-color);
    text-align: center;
    color: var(--contrast-text-color);
    height: 100%;
}

.tagline {
    padding: 2.5rem 2.5rem 1rem 2.5rem;
    margin: 0;
    font-size: 1.4rem;
}

.contact-info {
    font-size: 1.3rem;
}

.introduction {
    margin: 2rem 5rem;
    padding-bottom: 1rem;
    line-height: 2.5rem;
    max-width: 78rem;
}

.introduction p {
    font-size: 1.6rem;
    padding-bottom: 1rem;
}

.intro-themes {
    /* border: solid 0.3rem;
    border-radius: 1rem; */
    font-weight: 600;
    text-decoration-line: underline;
    text-decoration-thickness: 0.4rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.description-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.viz-description {
    margin: 4rem 4rem 0;
    text-align: center;
    max-width: 78rem;
}

.viz-description p {
    font-size: 1.4rem;
}

p.viz-title {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
}

.start-btn {
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--contrast-text-color);
    background: none;
    border-radius: 1rem;
    border-width: 0.1rem;
    border: solid var(--contrast-text-color);
    text-decoration: none;
}

.viz-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 1rem;
    /* height: 95vh; can't be 100 if the header is there. */
}

.viz-container {
    display: flex;
    /* position: relative; */
    flex-direction: column;
    /* height: 100%; */
    flex-basis: 70%;
    /* align-items: center; */
    /* justify-content: center;  */
}

.viz {
    display: flex; /* inline-block  */
    position: relative;
    flex-direction: column;
    /* height: 100%; this was causing weirdness for narrow wide view */ 
    flex-basis: 70%;
    align-items: center;
    justify-content: center;

    margin-bottom: 4rem;

    /* width: 70%;
    vertical-align: top;
    margin-right: 10px;
    overflow: visible; */
}

.svg-timeline {
    display: block;
    position: relative;
    max-height: -webkit-fill-available;
}

.svg-time-commitment, .svg-category {
    max-width: 100%;
}


.text-container {
    /* background-color: pink; debugging*/ 
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 20rem;
    flex-basis: 30%;
    margin-left: 1rem;
    /* justify-content: center; */
    align-items: center;
}

.text-block {
    /* display: inline-block;
    position: absolute; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    width: 100%;
    height: 80%;
    border-top: 0.1rem solid;
    border-color: var(--main-border-color);
    color: var(--main-text-color);
}

@media (min-width: 800px){
    .viz-wrapper {
        flex-direction: row;
    }

    .text-block {
        border-left: 0.1rem solid;
        border-top: none;
        border-color: var(--main-border-color);

    }
}

#text-block-2 {
    font-size: 1.4rem;
    padding: 2rem; 
}

/* .axis_container {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-right: 10px;
    overflow: visible;
} */

.tooltip {
    position: absolute; 
    /* top: 40px;
    right:0;  */
    width:  20rem; 
    padding: 1rem; 
    margin: 2rem;
    border-radius: 1rem; 
    text-align:center; 
    color:var(--contrast-text-color);
    border-style: solid;
    border-color: white;
    /* background-color: rgba(255, 215, 71, 0.8);  */
}

/* #timelineAxis {
    font-size: 20px;
} */

.item-description {
    margin: 2rem;
}

.item-description p {
    font-size: 1.4rem;
}

.item-group {
    cursor: pointer;
}

.legend {
    display: flex;
    max-width: -webkit-fill-available;
    justify-content: space-evenly;
    width: 90%;
    /* margin-bottom: 10px; */
    color: var(--main-text-color);;
}

.legend-title {
    margin: 1rem 0;
    font-weight: 500;
    font-size: 1.4rem;
}

.legend-symbol {
    stroke:  var(--main-border-color);
    stroke-width: 0.1rem;
}

.legend-symbol.time {
    fill: none;
}

.legend-text {
    fill: var(--main-text-color);;
    font-size: 1.3rem;
}

.legend-text.sub {
    font-size: 1.1rem;
}

.legend-text.description {
    font-size: 1.2rem;
    margin: 0 1.8rem 1.2rem 1.8rem;
}

#description.legend-item {
    width: 60%;
}

.instructions {
    padding: 2rem;
    margin-top: 5rem;
    font-size: 1.4rem;
    color: grey;
}

.section-break {
    width: 50%; 
    height: 0.2rem;
}